.thank{
	padding-top:170px;
	text-align:center;
	font-family:Orator STD;
}
#but{
    border: none;
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;

    margin-top: 20px;
    outline: none;
    

}
#but:hover{
    
        cursor: pointer;
        color: black;
        background-color:grey;
        transition: 1s;
    }
